<%- include("header") %>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
           <img class="first-slide" src="images/ba.jpg" alt="First slide">

        </div>
        <div class="item">
           <img class="second-slide " src="images/ba1.jpg" alt="Second slide">

        </div>
        <div class="item">
           <img class="third-slide " src="images/ba2.jpg" alt="Third slide">

        </div>
      </div>

    </div><!-- /.carousel -->

<!--content-->
<div class="kic-top ">
	<div class="container ">
	<div class="kic ">
			<h3>Popular Categories</h3>

		</div>
		<div class="col-md-4 kic-top1">
			<a href="/hold?cat=pet">
				<img src="images/of48.png" class="img-responsive" alt="">
			</a>
			<h6>Pet Food</h6>
		</div>
		<div class="col-md-4 kic-top1">
			<a href="/hold?cat=cleaning">
				<img src="images/of59.png" class="img-responsive" alt="">
			</a>
			<h6>Cleaning</h6>
		</div>
		<div class="col-md-4 kic-top1">
			<a href="/hold?cat=cleaning">
				<img src="images/ki8.jpg" class="img-responsive" alt="">
			</a>
			<h6>Household</h6>
		</div>
	</div>
</div>

<!--content-->
		<div class="product">
		<div class="container">
			<div class="spec ">
				<h3><%= head%></h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
      	<div class=" con-w3l agileinf">

							    <% let i=1; for (let product of products) { i++; if(i%4==0){ %>
                    <% } %>
                    <div class="col-md-3 pro-1">
      								<div class="col-m">


                  	<img src="<%= product.imageurl %>" style="height:150px;width:200px;" class="img-responsive" alt="">
									<div class="mid-1">
										<div class="women">
											<h6><%= product.pname %></h6>
										</div>
										<div class="mid-2">
											<p ><label>Rs <%= product.price+7 %></label><em class="item_price"><%= product.price %></em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>

											<div class="add">
										   <button class="btn btn-danger my-cart-btn my-cart-b" data-id="<%= product._id %>" data-name="<%= product.pname %>" data-summary="summary 24" data-price="<%= product.price %>" data-quantity="1" data-image="<%= product.imageurl %>">Add to Cart</button>
										</div>
									</div>
              	</div>

							</div>


                <!-- product -->
              			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              				<div class="modal-dialog" role="document">
              					<div class="modal-content modal-info">
              						<div class="modal-header">
              							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              						</div>
              						<div class="modal-body modal-spa">
              								<div class="col-md-5 span-2">
              											<div class="item">
              												<img src="<%=product.imageurl%>" class="img-responsive" alt="">
              											</div>
              								</div>
              								<div class="col-md-7 span-1 ">
              									<h3><%=product.pname %></h3>
              									<div class="price_single">
              									  <span class="reducedfrom "><del>Rs<%=1.1*product.price%></del> Rs <%=product.price%> </span>

              									 <div class="clearfix"></div>
              									</div>
              									<h4 class="quick">Quick Overview:</h4>
              									<p class="quick_desc"> <%=product.description %></p>
              									 <div class="add-to">
              										   <button class="btn btn-danger my-cart-btn my-cart-btn1 " data-id="<%=product._id%>" data-name="<%=product.pname%>" data-summary="<%=product.description%>" data-price="<%product.price%>" data-quantity="1" data-image="<%=product.imageurl%>">Add to Cart</button>
              										</div>
              								</div>
              								<div class="clearfix"> </div>
              							</div>
              						</div>
              					</div>
              				</div>
                    <% } %>

							</div>

							<div class="clearfix"></div>
						 </div>
		</div>
	</div>
<!--footer-->
<%- include("footer") %>
