<%-include("header")%>

<!--content-->
		<div class="product">
		<div class="container">
			<div class="spec ">
				<h3><%= head%></h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
      	<div class=" con-w3l agileinf">
					<% let i=1; for (let product of products) { i++;  %>

							      <div class="col-md-3 pro-1">

											<div class="col-m">


                  	<img src="<%= product.imageurl %>" style="height:150px;width:180px;" class="img-responsive" alt="">
									<div class="mid-1">
										<div class="women" style="height:10px;width:100%;">
											<h6><%= product.pname %></h6>
										</div> <br>	<br>
										<div class="mid-2">
											<p ><label>Rs <%= product.price+7 %></label><em class="item_price"><%= product.price %></em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>

											<div class="add">
										   <button class="btn btn-danger my-cart-btn my-cart-b" data-id="<%= product._id %>" data-name="<%= product.pname %>" data-summary="summary 24" data-price="<%= product.price %>" data-quantity="1" data-image="<%= product.imageurl %>">Add to Cart</button>
										</div>
									</div>
              	</div>
							</div>
							<% } %>




							</div>

							<div class="clearfix"></div>
						 </div>
		</div>
	</div>

  <script>
    let tk = document.getElementById('bananaBtn').dataset.csrf;
    localStorage.setItem('__csrf', tk);
    </script>
<!--footer-->

<%-include("footer")%>
